<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Update Reservation</title>
    <link rel="stylesheet" th:href="@{/homeStyle.css}">
</head>
<body>
<form action="#" th:action="@{/reservation/update}" th:object="${reservation}" method="post">

    <p>Start Date : <input type="text" th:field="*{startDate}" /></p>
    <p>End Date : <input type="text" th:field="*{endDate}" /></p>
    <p>Comments : <input type="text" th:field="*{comments}" /></p>
    <p>Client Rating : <input type="text" th:field="*{clientRating}" /></p>
    <p>Property Rating : <input type="text" th:field="*{propertyRating}" /></p>
    <input type="hidden" th:field="*{reservationId}" />
    <p><input type="submit" value="Update" /></p>
</form>
</body>
</html>